<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p>Transferir a</p>
      <div class="ui-inputgroup">
        <input type="number" pInputText [(ngModel)]="dni" maxlength="8" />
      </div>
    </div>
    <div class="ui-g-12">
      <button
        pButton
        type="button"
        label="Transfiere Ya"
        (click)="transferir()"
      ></button>
    </div>
  </div>
</div>

<p-blockUI [blocked]="blocked"></p-blockUI>

<p-dialog header="Aviso" [(visible)]="display" [modal]="showModal">
  <div class="ui-g">
    <div class="ui-g-12" style="text-align:center">
      {{ message }}
    </div>
    <div class="ui-g-12" style="text-align:center">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="display = false"
        label="Cerrar"
      ></button>
    </div>
  </div>
</p-dialog>
