<app-header></app-header>
<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="ORIGEN">
        <div *ngIf="isLogged; else addAccount">
          <p-table [value]="accounts">
            <ng-template pTemplate="header">
              <tr>
                <th>Elige</th>
                <th>Tipo</th>
                <th>Moneda</th>
                <th># Cuenta</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-account>
              <tr>
                <td>
                  <p-radioButton class="check-account" name="cuenta" (click)="selectedAccount(account)"></p-radioButton> {{ account.banco }}
                </td>
                <td>{{ account.tipo }}</td>
                <td>{{ account.moneda }}</td>
                <td>{{ account.numero_cuenta }}</td>
              </tr>
            </ng-template>
          </p-table>

          <p>&nbsp;</p>

          <button
            pButton
            type="button"
            label="Agregar Cuenta"
            (click)="agregar()"
          ></button>
        </div>
        <ng-template #addAccount>
          <p>DNI</p>
          <div class="ui-inputgroup">
            <input type="number" pInputText [(ngModel)]="dni" />
          </div>
          <p>&nbsp;</p>
          <button
            pButton
            type="button"
            label="Agregar Cuenta"
            (click)="agregar()"
          ></button>
        </ng-template>
      </p-panel>
    </div>
    <div class="ui-g-12">
      <p-panel header="DESTINO">
        <p>Nombres Completos</p>
        <div class="ui-inputgroup">
          <input type="text" pInputText [(ngModel)]="nombres" />
        </div>
        <p>Email</p>
        <div class="ui-inputgroup">
          <input type="email" pInputText [(ngModel)]="email" />
        </div>
        <p>Movíl</p>
        <div class="ui-inputgroup">
          <input type="number" pInputText [(ngModel)]="mobile" />
        </div>
      </p-panel>
    </div>
    <div class="ui-g-12" *ngIf="isLogged">

      <div class="ui-g-6">
        <button
          pButton
          type="button"
          label="Transfiere Ya"
          (click)="transferir()"
        ></button>
      </div>
      <div class="ui-g-6">
        <button
          pButton
          type="button"
          label="Ver Actividad"
          (click)="actividad()"
        ></button>
      </div>
    </div>
  </div>
</div>

<p-blockUI [blocked]="blocked"></p-blockUI>

<p-dialog header="Aviso" [(visible)]="display" [modal]="showModal">
  <div class="ui-g">
    <div class="ui-g-12" style="text-align:center">
      {{ message }}
    </div>
    <div class="ui-g-12" style="text-align:center">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="display = false"
        label="Cerrar"
      ></button>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Transacción exitosa"
  [(visible)]="displayTransaction"
  [modal]="showModal"
>
  <div class="ui-g">
    <div class="ui-g-12" style="text-align:center">
      La transacción ha sido enviado con exito, nosotros te avisaremos cuando se
      complete tu transferencia
    </div>
    <div class="ui-g-12" style="text-align:center">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="redirect()"
        label="Aceptar"
      ></button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Aviso" [(visible)]="displayNuevo" [modal]="showModal">
  <div class="ui-g">
    <div class="ui-g-12" style="text-align:center">
      El Cliente no existe, desea crear nuevo Cliente y aperturar Cuenta
    </div>
    <div class="ui-g-12" style="text-align:center">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="agrearCliente()"
        label="Aceptar"
      ></button>
    </div>
  </div>
</p-dialog>

<app-footer></app-footer>
