<app-header></app-header>

<div class="ui-fluid Actividad">
  <div class="ui-g">
    <div class="ui-g-12">
      <div *ngFor="let a of actividades">
        <p-card>
          <div class="p-grid">
            <div class="p-col">
              <p>
                Transferir a <b>{{ a.person }}</b>
              </p>
              <p>{{ a.status }}, {{ format(a.created) }}</p>
            </div>
            <div class="p-col" style="text-align: right">
              <p>
                Tranferido: <b>{{ a.currency_from }}</b>
                {{ a.montoFrom | number: '1.2-2' }}
              </p>
              <p>
                Enviado: <b>{{ a.currency_to }}</b> {{ a.montoTo | number: '1.2-2' }}
              </p>
            </div>
          </div>
        </p-card>
        <br />
      </div>
    </div>
    <div class="ui-g-12">
      <button
        class="home-transfer-btn"
        pButton
        type="button"
        label="TRANSFERIR YA"
        (click)="transferir()"
      ></button>
    </div>
  </div>
</div>

<app-footer></app-footer>
